.orange.money.bill.alternate.huge.circular.icon:Hover,
.orange.dolly.flatbed.huge.circular.icon:Hover,
.orange.truck.huge.circular.icon:Hover,
.orange.dot.circle.outline.huge.circular.icon:Hover {
  background-color: #f2711c;
  color: #fff !important;
  box-shadow: none;
}

.ui.inverted.vertical.center.aligned.segment {
  background-image: url('./assets/header80.png'); 

}

.ui.secondary.inverted.menu a.item {
  opacity: 1 !important
}

.ui.vertical.segment.jak-trafic {
  background-image: url('./assets/map.png');
  background-position: center center;
}

.ui.menu .item {
  color: #fff !important;
  font-weight: bold !important;
}

.orange.sidebar.large.bordered.inverted.icon {
  border-radius: 10%;
}